/target
.settings
.classpath
.project
datastore-indexes-auto.xml
*.bin
*.orig
/bin
.pmd
*~
/target
/indexes/
/.idea
WEB-INF/appengine-generated/
WEB-INF/lib
encoded_gs_key:*
/node_modules/
/src/main/webapp/dist
*.class
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.BASE.*
*.bak
